<launch>
  <!--include file="$(find gazebo_ros)/launch/willowgarage_world.launch"-->
  <arg name="world_name" value="$(find bobac2_description)/world/room.world"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <!--arg name="use_sim_time" value="true"/-->
  </include>

  <param name="robot_description" textfile="$(find bobac2_description)/urdf/gazebo_bobac2_description.urdf" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-param robot_description -urdf -model bobac2_description"
    output="screen" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="rate" value="50"/>	
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />		  
  </node>
  <!--robot_pose_ekf-->
  <!--node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom_ekf"/>
    <param name="base_footprint_frame" value="base_footprint"/>
    <param name="freq" value="10.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="false"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
  </node-->
</launch>
